<% provide(:title, 'About Us') %>
<div class="fixedWidth">
<h1 class="center">About Us</h1>
   <p>
  In early 2013, the members of fighting game club Mad City Monks jokingly tossed around ideas for a bar themed around the games they loved to play. Unfortunately, this was not only spurred on by a night of drinking. Their main location of operation was set to close, leaving the Monks without a place to play.
   </p>
   <p>
  In early 2013, the members of fighting game club Mad City Monks jokingly tossed around ideas for a bar themed around the games they loved to play. Unfortunately, this was not only spurred on by a night of drinking. Their main location of operation was set to close, leaving the Monks without a place to play.
   </p>
</div>

