<% provide(:title, 'About Saikyo') %>
<h1>About Saikyo</h1>
   <p>
  Inspired by a passion for cooking, a love of video game series Street Fighter, and a night of drinking with fellow fighting game fans, I knew I wanted to open up this restaurant.
   </p>
   <p>
	More will be added here. YAHOO!
   </p>

