
/* universal */


html {
  overflow-y: scroll;
}

body {
  background-color: #4E545A;
}

p, h1, h2, h3 {
  font-family: 'Russo One', sans-serif;
}

p {
  padding-left:40px;
  
}

h2 {
  font-size: medium;
}

.textGround {
   background-color: #E7EDF3;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.left {
  text-align: left;
}

.siteLogo {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

.fixedLogo {
  width: 975px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #E7EDF3;
}

.fixedWidth {
  width: 975px;
  padding-top: 40px;
  padding-bottom: 60px; 
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #B9BEC2;
}

.fixedFooter {
  width: 975px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #B9BEC2;
}

/* menu */

.foodItem {
  padding: 10px;
  background-color: #E7EDF3;
}

.menuItem {
  list-style-type: none;
  font-weight: bold;
  font-size: large;
  font-family: 'Russo One', sans-serif;
}

.menuSubItem {
  list-style-type: none;
  font-family: 'Russo One', sans-serif;
}

.menuPrice {
  list-style-type: none;
  font-family: 'Russo One', sans-serif;
}

.menuGenre {
  list-style-type: none;
  font-size: small;
  font-style: italic;
  font-family: 'Russo One', sans-serif;
  
}

/* navigation */

.nav {
    	list-style:none;
    	margin: 0;
    	padding: 0;
   	text-align:center;
        background-color: #E7EDF3;
}

.navS {
    	list-style:none;
    	margin: 0;
    	padding: 0;
   	text-align:center;
        background-color: #E7EDF3;
}

.nav li {
	display:inline;
        background-color: #E7EDF3;
        font-family: 'Russo One', sans-serif;
        font-size: large;
}

.navS li {
	display:inline;
        background-color: #E7EDF3;
        font-family: 'Russo One', sans-serif;
        font-size: medium;
}

.nav li a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
        color: #272A2D;
}

.nav li a:hover {
	color: #c00;
	
}

/* login */

.fixedLogin {
  width: 975px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 70px;
  text-align: left;
  background-color: #B9BEC2;
}

.loginForm {
  padding-left:40px;
}
/* carousel */

#carousel {
    margin-left: auto;
    margin-right: auto;
    width: 975px;
    height: 400px;
    display: relative;
    background-color: #B9BEC2;
  }
#carousel img {
    display: hidden; /* hide images until carousel prepares them */
    cursor: pointer; /* not needed if you wrap carousel items in links */
  }

/* flash errors */

#flash_error {
  border: 1px solid #000066;
  margin-left: auto;
  margin-right: auto;
  width: 973px;
  padding: 4px;
  margin-bottom: 10px;
  background-color: #cc3333;
}

#flash_success {
  border: 1px solid #000066;
  margin-left: auto;
  margin-right: auto;
  width: 973px;
  padding: 4px;
  margin-bottom: 10px;
  background-color: #A3B15A;
}

