

/* universal */


html {
  overflow-y: scroll;
  background-color: #ffaeb9;
}

body {
  background-color: #ffaeb9;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.left {
  text-align: left;
}

/* navigation */

.nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: ffaeb9;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; }
.nav li {
	float: left;
}

.nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc;
}

.nav li a:hover {
	color: #c00;
	background-color: #fff;
}

/* carousel */

#carousel {
    width:800px;
    height: 300px;
    display: relative;
  }
#carousel img {
    display: hidden; /* hide images until carousel prepares them */
    cursor: pointer; /* not needed if you wrap carousel items in links */
  }


